In [1]:
from scipy.stats import f_oneway

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

test_19 = pd.read_csv('Men Test Player Innings Stats - 19th Century.csv')
test_20 = pd.read_csv('Men Test Player Innings Stats - 20th Century.csv')
test_21 = pd.read_csv('Men Test Player Innings Stats - 21st Century.csv')


df = pd.concat([test_19,test_20,test_21], axis=0)
df

C:\Users\dbda\AppData\Local\Temp\ipykernel_9320\3333642396.py:6: DtypeWarning: Columns (2,18,20,21,22,27) have mixed types. Specify dtype option on import or set low_memory=False.
  test_20 = pd.read_csv('Men Test Player Innings Stats - 20th Century.csv')

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Overs Bowled,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate
0,KS Ranjitsinhji,175,175,223,1.0,0.0,-,26,0,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AE Stoddart,173,173,320,1.0,0.0,-,15,1,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WG Grace,170,170,270,1.0,0.0,-,24,0,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A Shrewsbury snr,164,164,411,1.0,0.0,-,16,0,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KS Ranjitsinhji,154*,154,185,1.0,1.0,-,23,0,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208773,GC Wilson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
208774,WTS Porterfield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
208775,A Balbirnie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
208776,PR Stirling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
208777,JA McCollum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-

In [3]:
# #There are duplicate records
# df_no_duplicates = df.drop_duplicates(subset=['Innings Player', 'Innings Date'])
# df = df_no_duplicates.copy()

In [4]:
df

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Overs Bowled,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate
0,KS Ranjitsinhji,175,175,223,1.0,0.0,-,26,0,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AE Stoddart,173,173,320,1.0,0.0,-,15,1,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WG Grace,170,170,270,1.0,0.0,-,24,0,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A Shrewsbury snr,164,164,411,1.0,0.0,-,16,0,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KS Ranjitsinhji,154*,154,185,1.0,1.0,-,23,0,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208773,GC Wilson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
208774,WTS Porterfield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
208775,A Balbirnie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
208776,PR Stirling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
208777,JA McCollum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-

In [5]:
team_ENG = df[df['Country'] == 'England']
team_AUS = df[df['Country'] == 'Australia']
team_IND = df[df['Country'] == 'India']
team_PK = df[df['Country'] == 'Pakistan']

In [6]:
team_ENG['Innings Runs Conceded'].unique()

array([nan, '28', '7', '11', '35', '58', '94', '17', '31', '36', '37',
       '38', '40', '42', '44', '68', '71', '74', '168', '23', '39', '41',
       '45', '49', '50', '52', '54', '67', '76', '84', '85', '87', '98',
       '101', '104', '18', '19', '24', '25', '29', '32', '34', '43', '46',
       '51', '56', '57', '75', '107', '114', '134', '181', '8', '14',
       '26', '27', '30', '33', '47', '53', '61', '65', '69', '70', '77',
       '79', '81', '96', '99', '164', '13', '15', '20', '59', '60', '62',
       '73', '78', '88', '89', '90', '91', '105', '108', '138', '4', '9',
       '10', '12', '48', '64', '66', '72', '86', '100', '102', '110',
       '121', '140', '0', '1', '2', '6', '16', '21', '22', '55', '82',
       '93', '128', '3', '5', '-', 53.0, 37.0, 57.0, 103.0, 29.0, 31.0,
       34.0, 43.0, 51.0, 56.0, 59.0, 68.0, 75.0, 81.0, 86.0, 107.0, 126.0,
       17.0, 27.0, 32.0, 35.0, 36.0, 39.0, 40.0, 44.0, 46.0, 47.0, 48.0,
       49.0, 50.0, 52.0, 55.0, 58.0, 60.0, 61.0, 66.0, 70.0, 71.0, 76.0,
       78.0, 79.0, 80.0, 88.0, 105.0, 113.0, 115.0, 121.0, 7.0, 12.0,
       20.0, 25.0, 28.0, 30.0, 33.0, 38.0, 41.0, 42.0, 45.0, 54.0, 63.0,
       65.0, 67.0, 73.0, 77.0, 82.0, 84.0, 85.0, 87.0, 90.0, 91.0, 94.0,
       95.0, 96.0, 99.0, 100.0, 101.0, 104.0, 111.0, 114.0, 118.0, 119.0,
       124.0, 125.0, 130.0, 142.0, 154.0, 164.0, 204.0, 11.0, 14.0, 15.0,
       16.0, 18.0, 19.0, 21.0, 24.0, 62.0, 64.0, 69.0, 72.0, 74.0, 83.0,
       92.0, 93.0, 98.0, 102.0, 106.0, 108.0, 109.0, 110.0, 116.0, 122.0,
       123.0, 127.0, 131.0, 133.0, 141.0, 146.0, 149.0, 156.0, 167.0,
       168.0, 169.0, 5.0, 6.0, 10.0, 13.0, 22.0, 23.0, 26.0, 89.0, 97.0,
       112.0, 117.0, 128.0, 132.0, 136.0, 138.0, 143.0, 150.0, 153.0,
       155.0, 163.0, 170.0, 174.0, 4.0, 8.0, 9.0, 120.0, 129.0, 134.0,
       135.0, 140.0, 145.0, 147.0, 148.0, 152.0, 158.0, 160.0, 161.0,
       165.0, 176.0, 180.0, 183.0, 217.0, 1.0, 3.0, '112', '113', '115',
       '116', '117', '118', '119', '120', '122', '123', '124', '125',
       '126', '129', '130', '131', '133', '136', '137', '141', '142',
       '144', '147', '148', '151', '153', '154', '155', '159', '161',
       '172', '178', '63', '80', '83', '92', '95', '97', '103', '106',
       '109', '111', '127', '132', '135', '139', '150', '160', '166',
       '169', '143', '152', '165', '182', '192', '145', '146', '170',
       '174', '185', '190', '157', '163', '193'], dtype=object)

In [7]:
team_ENG.isna().sum()

Innings Player                       0
Innings Runs Scored              30800
Innings Runs Scored Num          30800
Innings Minutes Batted           30800
Innings Batted Flag              30800
Innings Not Out Flag             30800
Innings Balls Faced              30800
Innings Boundary Fours           30800
Innings Boundary Sixes           30800
Innings Batting Strike Rate      30800
Innings Number                       0
Opposition                           0
Ground                               0
Innings Date                         0
Country                              0
50's                             30800
100's                            30800
Innings Runs Scored Buckets      30800
Innings Overs Bowled             30195
Innings Bowled Flag              30195
Innings Maidens Bowled           30195
Innings Runs Conceded            30195
Innings Wickets Taken            30195
4 Wickets                        30195
5 Wickets                        30195
10 Wickets                       30195
Innings Wickets Taken Buckets    30195
Innings Economy Rate             30195
dtype: int64

In [8]:
team_ENG.dropna(subset= ["Innings Runs Conceded","Innings Wickets Taken"],inplace=True)
team_ENG.isna().sum()
team_ENG = team_ENG[team_ENG['Innings Runs Conceded']!='-']
team_ENG["Ball_AVG"] = team_ENG["Innings Runs Conceded"].astype(int)/team_ENG["Innings Wickets Taken"].astype(int)
team_ENG

C:\Users\dbda\AppData\Local\Temp\ipykernel_9320\3200714463.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_ENG.dropna(subset= ["Innings Runs Conceded","Innings Wickets Taken"],inplace=True)

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate,Ball_AVG
2585,GA Lohmann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,6,28,9,0.0,1.0,0.0,5+,2.33,3.111111
2586,GA Lohmann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,5,7,8,0.0,1.0,0.0,5+,0.85,0.875000
2587,J Briggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,5,11,8,0.0,1.0,0.0,5+,1.13,1.375000
2588,GA Lohmann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,12,35,8,0.0,1.0,0.0,5+,1.92,4.375000
2589,GA Lohmann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,18,58,8,0.0,1.0,0.0,5+,1.33,7.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154813,SCJ Broad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,3,142,0,1.0,0.0,0.0,0-4,4.05,inf
154814,AR Caddick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,9,146,0,1.0,0.0,0.0,0-4,4.05,inf
154815,GP Swann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,10,151,0,1.0,0.0,0.0,0-4,2.90,inf
154816,MM Ali,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,14,155,0,1.0,0.0,0.0,0-4,2.98,inf
154817,AU Rashid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0,163,0,1.0,0.0,0.0,0-4,4.79,inf

In [9]:
team_AUS.dropna(subset= ["Innings Runs Conceded","Innings Wickets Taken"],inplace=True)
team_AUS.isna().sum()
team_AUS = team_AUS[team_AUS['Innings Runs Conceded']!='-']
team_AUS["Ball_AVG"] = team_AUS["Innings Runs Conceded"].astype(int)/team_AUS["Innings Wickets Taken"].astype(int)
team_AUS

C:\Users\dbda\AppData\Local\Temp\ipykernel_9320\3001121746.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_AUS.dropna(subset= ["Innings Runs Conceded","Innings Wickets Taken"],inplace=True)

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate,Ball_AVG
3916,AE Trott,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,10,43,8,0.0,1.0,0.0,5+,1.59,5.375000
3917,CTB Turner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,23,43,7,0.0,1.0,0.0,5+,1.69,6.142857
3918,FR Spofforth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,15,44,7,0.0,1.0,0.0,5+,2.35,6.285714
3919,FR Spofforth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,23,44,7,0.0,1.0,0.0,5+,1.60,6.285714
3920,FR Spofforth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,18,46,7,0.0,1.0,0.0,5+,1.87,6.571429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159707,NM Lyon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2,128,0,1.0,0.0,0.0,0-4,5.81,inf
159708,MS Kasprowicz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,6,139,0,1.0,0.0,0.0,0-4,3.97,inf
159709,SCG MacGill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,5,146,0,1.0,0.0,0.0,0-4,3.84,inf
159710,NM Lyon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,3,146,0,1.0,0.0,0.0,0-4,4.29,inf
159711,BE McGain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2,149,0,1.0,0.0,0.0,0-4,8.27,inf

In [10]:
team_IND.dropna(subset= ["Innings Runs Conceded","Innings Wickets Taken"],inplace=True)
team_IND.isna().sum()
team_IND = team_IND[team_IND['Innings Runs Conceded']!='-']
team_IND["Ball_AVG"] = team_IND["Innings Runs Conceded"].astype(int)/team_IND["Innings Wickets Taken"].astype(int)
team_IND

C:\Users\dbda\AppData\Local\Temp\ipykernel_9320\1399032288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_IND.dropna(subset= ["Innings Runs Conceded","Innings Wickets Taken"],inplace=True)

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate,Ball_AVG
93104,A Kumble,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,9,74,10,0.0,0.0,1.0,5+,2.79,7.400000
93105,JM Patel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,16,69,9,0.0,1.0,0.0,5+,1.92,7.666667
93106,N Kapil Dev,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,6,83,9,0.0,1.0,0.0,5+,2.72,9.222222
93107,SP Gupte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,11,102,9,0.0,1.0,0.0,5+,2.95,11.333333
93108,MH Mankad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,27,52,8,0.0,1.0,0.0,5+,1.10,6.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185503,S Sreesanth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,4,158,0,1.0,0.0,0.0,0-4,4.38,inf
185504,A Kumble,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,8,159,0,1.0,0.0,0.0,0-4,3.45,inf
185505,I Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,4,164,0,1.0,0.0,0.0,0-4,3.64,inf
185506,A Mishra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,3,170,0,1.0,0.0,0.0,0-4,4.47,inf
185507,Harbhajan Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,5,176,0,1.0,0.0,0.0,0-4,5.17,inf

In [11]:
team_PK.dropna(subset=["Innings Runs Conceded", "Innings Wickets Taken"], inplace=True)
team_PK.isna().sum()
team_PK = team_PK[team_PK['Innings Runs Conceded'] != '-']
team_PK["Ball_AVG"] = team_PK["Innings Runs Conceded"].astype(int) / team_PK["Innings Wickets Taken"].astype(int)
team_PK

C:\Users\dbda\AppData\Local\Temp\ipykernel_9320\634179472.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_PK.dropna(subset=["Innings Runs Conceded", "Innings Wickets Taken"], inplace=True)

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate,Ball_AVG
107954,Abdul Qadir,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,13,56,9,0.0,1.0,0.0,5+,1.51,6.222222
107955,Sarfraz Nawaz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,7,86,9,0.0,1.0,0.0,5+,1.81,9.555556
107956,Imran Khan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,8,58,8,0.0,1.0,0.0,5+,1.96,7.250000
107957,Imran Khan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,4,60,8,0.0,1.0,0.0,5+,2.97,7.500000
107958,Sikander Bakht,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,3,69,8,0.0,1.0,0.0,5+,3.28,8.625000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197503,Zulfiqar Babar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1,135,0,1.0,0.0,0.0,0-4,5.86,inf
197504,Mohammad Talha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2,136,0,1.0,0.0,0.0,0-4,6.18,inf
197505,Umar Gul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,6,137,0,1.0,0.0,0.0,0-4,3.80,inf
197506,Danish Kaneria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,5,183,0,1.0,0.0,0.0,0-4,3.89,inf
197507,Yasir Shah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1,197,0,1.0,0.0,0.0,0-4,6.15,inf

In [12]:
# performance one-way ANOVA
f_statistic, p_value = f_oneway(team_IND["Ball_AVG"],team_AUS["Ball_AVG"],team_ENG["Ball_AVG"],team_PK["Ball_AVG"])
print("F-statistic = ",f_statistic)
print("p-value = ",p_value)

F-statistic =  nan
p-value =  nan

In [17]:
team_IND.Ball_AVG.isna().sum()

73

In [14]:
team_IND["Ball_AVG"]

93104      7.400000
93105      7.666667
93106      9.222222
93107     11.333333
93108      6.500000
            ...
185503          inf
185504          inf
185505          inf
185506          inf
185507          inf
Name: Ball_AVG, Length: 9210, dtype: float64