In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Toss = np.array(["Won","Lost"])
Res = np.array(["match_won","match_lost"])

In [3]:
toss_indices = np.random.choice(range(len(Toss)), size=1000)
#x = np.random.choice(Toss,1000)
result = np.random.choice(range(len(Res)), size=1000)
data = {"Toss": Toss[toss_indices],"Result": Res[result]}
df = pd.DataFrame(data)
df

     Toss      Result
0    Lost   match_won
1     Won   match_won
2    Lost   match_won
3     Won  match_lost
4    Lost  match_lost
..    ...         ...
995  Lost  match_lost
996   Won   match_won
997  Lost  match_lost
998  Lost   match_won
999  Lost   match_won

[1000 rows x 2 columns]

In [4]:
#P(winning the match when the toss was won)
# p(A|B) = P(AnB)/P(B) 
p_b = len(df[df["Toss"]=="Won"])/len(df)
print(p_b)

0.501

In [5]:
p_a_and_b = len(df.query("Toss == 'Won' and Result == 'match_won'"))/len(df)
print(p_a_and_b)

0.255

In [9]:
p_a_given_b = p_a_and_b/p_b
print(f"probability of winning the match when toss was won {p_a_given_b}")

probability of winning the match when toss was won 0.5089820359281437

In [7]:
p_a = len(df[df["Result"] == "match_won"]) / len(df)
print(p_a)

0.506

In [10]:
p_b_given_a = p_a_and_b/p_a
print(f"probability that the toss was won and match was also won {p_b_given_a}")

probability that the toss was won and match was also won 0.5039525691699605