In [1]:
import pandas as pd
import numpy as np

In [2]:
odi_20 = pd.read_csv('G:\\gb\\Advance Analytics\\Theory\\Day_3\\Men ODI Team Match Results - 20th Century.csv')
odi_21 = pd.read_csv('G:\\gb\\Advance Analytics\\Theory\\Day_3\\Men ODI Team Match Results - 21st Century.csv')

df = pd.concat([odi_20,odi_21],axis=0)
df

,Result,Margin,Match,Home/Away,Ground,Match Date,Match Month,Match Year,Match Period,Matches,Country
0,Lost,5 wickets,Australia v England,Away,Melbourne,1971/01/05,Jan,1971,Jan 1971,1,England
1,Won,6 wickets,England v Australia,Home,Manchester,1972/08/24,Aug,1972,Aug 1972,1,England
2,Lost,5 wickets,England v Australia,Home,Lord's,1972/08/26,Aug,1972,Aug 1972,1,England
3,Won,2 wickets,England v Australia,Home,Birmingham,1972/08/28,Aug,1972,Aug 1972,1,England
4,Won,7 wickets,England v New Zealand,Home,Swansea,1973/07/18,Jul,1973,Jul 1973,1,England
...,...,...,...,...,...,...,...,...,...,...,...
5165,Lost,3 wickets,Afghanistan v Pakistan,Home,Leeds,2019/06/29,Jun,2019,Jun 2019,1,Afghanistan
5166,Lost,23 runs,Afghanistan v West Indies,Home,Leeds,2019/07/04,Jul,2019,Jul 2019,1,Afghanistan
5167,Lost,7 wickets,Afghanistan v West Indies,Home,Lucknow,2019/11/06,Nov,2019,Nov 2019,1,Afghanistan
5168,Lost,47 runs,Afghanistan v West Indies,Home,Lucknow,2019/11/09,Nov,2019,Nov 2019,1,Afghanistan
5169,Lost,5 wickets,Afghanistan v West Indies,Home,Lucknow,2019/11/11,Nov,2019,Nov 2019,1,Afghanistan

In [3]:
df.info()
df['Result'].value_counts()

<class 'pandas.core.frame.DataFrame'>
Index: 8541 entries, 0 to 5169
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Result        8541 non-null   object
 1   Margin        8522 non-null   object
 2   Match         8541 non-null   object
 3   Home/Away     8541 non-null   object
 4   Ground        8541 non-null   object
 5   Match Date    8541 non-null   object
 6   Match Month   8541 non-null   object
 7   Match Year    8541 non-null   int64
 8   Match Period  8541 non-null   object
 9   Matches       8541 non-null   int64
 10  Country       8541 non-null   object
dtypes: int64(2), object(9)
memory usage: 800.7+ KB

Result
Won     3999
Lost    3908
N/R      291
Aban     207
Tied      76
Canc      60
Name: count, dtype: int64

In [4]:
df1 = df[(df['Result']!="N/R") & (df['Result']!="Aban") & (df['Result']!="Tied") & (df['Result']!="Canc") & (df['Country']=="India")]
print(df1)
df1['Result'].value_counts()

     Result      Margin                Match Home/Away           Ground  \
1806   Lost   4 wickets      England v India      Away            Leeds
1807   Lost   6 wickets      England v India      Away         The Oval
1808   Lost    202 runs      England v India      Away           Lord's
1809    Won  10 wickets  East Africa v India      Away            Leeds
1810   Lost   4 wickets  India v New Zealand      Home       Manchester
...     ...         ...                  ...       ...              ...
2763    Won     36 runs    India v Australia      Home           Rajkot
2764    Won   7 wickets    India v Australia      Home        Bengaluru
2765   Lost   4 wickets  New Zealand v India      Away         Hamilton
2766   Lost     22 runs  New Zealand v India      Away         Auckland
2767   Lost   5 wickets  New Zealand v India      Away  Mount Maunganui

      Match Date Match Month  Match Year Match Period  Matches Country
1806  1974/07/13         Jul        1974     Jul 1974        1   India
1807  1974/07/15         Jul        1974     Jul 1974        1   India
1808  1975/06/07         Jun        1975     Jun 1975        1   India
1809  1975/06/11         Jun        1975     Jun 1975        1   India
1810  1975/06/14         Jun        1975     Jun 1975        1   India
...          ...         ...         ...          ...      ...     ...
2763  2020/01/17         Jan        2020     Jan 2020        1   India
2764  2020/01/19         Jan        2020     Jan 2020        1   India
2765  2020/02/05         Feb        2020     Feb 2020        1   India
2766  2020/02/08         Feb        2020     Feb 2020        1   India
2767  2020/02/11         Feb        2020     Feb 2020        1   India

[937 rows x 11 columns]

Result
Won     513
Lost    424
Name: count, dtype: int64

In [5]:
df1

,Result,Margin,Match,Home/Away,Ground,Match Date,Match Month,Match Year,Match Period,Matches,Country
1806,Lost,4 wickets,England v India,Away,Leeds,1974/07/13,Jul,1974,Jul 1974,1,India
1807,Lost,6 wickets,England v India,Away,The Oval,1974/07/15,Jul,1974,Jul 1974,1,India
1808,Lost,202 runs,England v India,Away,Lord's,1975/06/07,Jun,1975,Jun 1975,1,India
1809,Won,10 wickets,East Africa v India,Away,Leeds,1975/06/11,Jun,1975,Jun 1975,1,India
1810,Lost,4 wickets,India v New Zealand,Home,Manchester,1975/06/14,Jun,1975,Jun 1975,1,India
...,...,...,...,...,...,...,...,...,...,...,...
2763,Won,36 runs,India v Australia,Home,Rajkot,2020/01/17,Jan,2020,Jan 2020,1,India
2764,Won,7 wickets,India v Australia,Home,Bengaluru,2020/01/19,Jan,2020,Jan 2020,1,India
2765,Lost,4 wickets,New Zealand v India,Away,Hamilton,2020/02/05,Feb,2020,Feb 2020,1,India
2766,Lost,22 runs,New Zealand v India,Away,Auckland,2020/02/08,Feb,2020,Feb 2020,1,India
2767,Lost,5 wickets,New Zealand v India,Away,Mount Maunganui,2020/02/11,Feb,2020,Feb 2020,1,India

In [6]:

df1.isna().sum()
df1.rename(columns={'Home/Away':'Home_Away'},inplace=True)

C:\Users\dbda\AppData\Local\Temp\ipykernel_14740\1034472193.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.rename(columns={'Home/Away':'Home_Away'},inplace=True)

In [7]:
# Baye's Theorem
# A = Playing At Home
# B = Winning
# P(A/B) = P(B/A).P(A)/P(B)
p_a = len(df1[df1['Home_Away']=='Home'])/len(df1)
p_b = len(df1[df1['Result']=='Won'])/len(df1)
p_a_b = len(df1.query("Result == 'Won' and Home_Away=='Home'"))/len(df1)
print(f"Probability of playing at home {p_a}")
print(f"Probability of Winning {p_b}")
print(f"Probability of playing at home and winning {p_a_b}")

Probability of playing at home 0.6029882604055496
Probability of Winning 0.5474919957310566
Probability of playing at home and winning 0.35432230522945574

In [8]:
P_winning_given_home = p_a_b/p_a
print(f"Probability of winning at home {P_winning_given_home }")

Probability of winning at home 0.5876106194690266

In [9]:
p_home_given_won = p_a_b/p_b
print(f"Probability of at home and winnig {p_home_given_won}")

Probability of at home and winnig 0.6471734892787525

In [10]:
#cal using bayes
p_a_given_b_bayes = (P_winning_given_home  * p_a)/p_b
print(f"Probability of playing at home and winning {p_a_given_b_bayes}")

p_b_given_a_bayes= (p_home_given_won * p_b)/p_a
print(f"Probability of winning at home {p_b_given_a_bayes}")

Probability of playing at home and winning 0.6471734892787525
Probability of winning at home 0.5876106194690266

In [11]:
#------------------------------------------------------------------------------------------------------
# A = away
# B = Winning
p_Away = len(df1[df1['Home_Away']=='Away'])/len(df1)
p_Won = len(df1[df1['Result']=='Won'])/len(df1)
p_Away_Won = len(df1.query("Result == 'Won' and Home_Away=='Away'"))/len(df1)
print(f"Probability of playing at Away {p_Away}")
print(f"Probability of Winning {p_Won}")
print(f"Probability of playing at away and winning {p_Away_Won}")

Probability of playing at Away 0.39701173959445035
Probability of Winning 0.5474919957310566
Probability of playing at away and winning 0.19316969050160085

In [12]:
P_winning_given_away = p_Away_Won/p_Away
print(f"Probability of winning at away {P_winning_given_away }")

Probability of winning at away 0.48655913978494625

In [13]:
p_Away_given_winning = p_Away_Won/p_Won
print(f"Probability of playing away and winning {p_Away_given_winning}")

Probability of playing away and winning 0.35282651072124754

In [14]:
#cal using bayes
p_Away_given_winning_bayes = (P_winning_given_away * p_Away)/p_Won
print(f"Probability of playing away and winning {p_Away_given_winning_bayes}")

p_winning_given_away_bayes = (p_Away_given_winning * p_Won)/p_Away
print(f"Probability of winning at away {p_winning_given_away_bayes}")

Probability of playing away and winning 0.35282651072124754
Probability of winning at away 0.48655913978494625